

.AppDiv {
	 text-align: center;
  margin: 0 auto;
  width: 85%;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

@media screen and (max-width: 800px) {
	.AppDiv {
		text-align: center;
		margin: 0 auto;
		width: 95%;
		font-family: 'Roboto', sans-serif;
		justify-content: center;
	}
}

.AppBackground {
	background-color: #BBDEFB;
	padding: 0 0;
}

html {
    position: relative;
    min-height: 100%;
}