.TopBar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #2196F3;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /*box-shadow: 2px 2px 2px grey;*/
  margin-bottom: 10px;
}

.TopBarLogoDiv {
  width: 10%;
}

.TopBarLogo {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.TopBarButtonsDiv {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}