

@media screen and (min-width: 700px) {
	.WhatWeDoItem {
		width: calc(100% * (1 / 3) - 20px);
		margin: 10px;
		text-align: center;
	}

	.WhatWeDoDiv {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	margin-bottom: 10px;
	text-align: center;
}
}

@media screen and (max-width: 699px) {
	.WhatWeDoItem {
		margin: 10px;
		text-align: center;
	}

	.WhatWeDoDiv {
		/*display: flex;
		flex-wrap: wrap;*/
		padding: 40px;
		margin-bottom: 10px;
		text-align: center;
	}
}

.WhatWeDoAvatar {
	border-style: solid;
	border-color: #646464;
	border-width: 2px;
}

.WhatWeDoBigText {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.WhatWeDoSmallText {
	text-align: left;
}